*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}
.pay-now{
    background-color: rgb(124, 8, 8);
   margin-left: 550px;
   margin-top: 30px;
   padding: 8px 12px 8px 12px;
   color: white;
   width: 160px;
   outline: line;
   border-radius: 5px;
   
}
.h-prime{
    color: #fff;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* margin-left: 200px; */
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 30px;
}
.respo-prime{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 20px;
}

.respo-prime img{
    border-radius: 10px;
    height:260px; width:200px;
/* height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px" */
}
.respo-sport{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 20px;
}

.respo-sport img{
    border-radius: 10px;
    height:120px; width:205px;
/* height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px"
height="120px" width="205px" */
/* height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px"
height="260px" width="200px" */
}

/* .respo-prime img:hover{
    border-radius: 5px;
    height: 270px;
    width: 210px;
} */
@media(max-width: 790px){
    .h-prime{
       /* margin: auto; */
        font-size: 15px;
       /* width: 100%;
       display: flex;
       justify-content: flex-start;
       align-items: flex-end;
       overflow: hidden; */
       
        
    }
    .respo-prime{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-gap: 10px;
        margin-left: none;
    }
    .respo-prime img{ 
         height: 150px;
        width: 120px ;
        grid-gap: 10px ;
    }
     .respo-sport{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-gap: 10px;
        margin-left: none;
    } 
    .respo-sport img{ 
        height: 80px;
       width: 110px ;
       grid-gap: 10px ;
       border-radius: 5px;
   }
    
}